.love {
  max-width: 1280px;
  display: flex;
  margin: 70px auto;
  width: 100%;
  padding: 0 70px;
  box-sizing: border-box;
}

.love__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.love__image {
  width: 100%;
}

.love__three {
  display: grid;
  grid-template-columns: 1fr 2.3fr 1fr;
  grid-column: span 3;
  gap: 15px;
  align-items: stretch;
}

.love__last {
  display: grid;
  grid-template-columns: 1fr 2.3fr 2.5fr;
  grid-column: span 3;
  gap: 15px;
  align-items: stretch;
}

@media screen and (max-width: 768px) {
  .love {
    padding: 0 30px;
  }

  .love__container {
    display: flex;
    flex-direction: column;
  }

  .love__three {
    display: flex;
    flex-direction: column;
  }

  .love__last {
    display: flex;
    flex-direction: column;
  }
}
