.header {
  display: flex;
  justify-content: center;
  min-height: 74px;
  background-color: transparent;
}

.header-main {
  background-color: #FAFAFA;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 70px;
  box-sizing: border-box;
}

.header__logo {
  flex-shrink: 0;
  margin-right: auto;
  background-image: url(../../images/header-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 38px;
  height: 38px;
  transition: .3s linear;
}

.header__logo:hover {
  opacity: .6;
}

.header__link {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  text-decoration: none;
  transition: .3s linear;
}

.header__link:hover {
  opacity: .6;
}

.header__link_type_button {
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 32px;
  background: #3456F3;
  border-radius: 3px;
  color: #FFF;
}

@media screen and (max-width: 768px) {
  .header__inner {
    padding: 0 30px;
  }
}

@media screen and (max-width: 476px) {
  .header__inner {
    padding: 0 14px;
  }

  .header__link {
    font-size: 10px;
    line-height: 16px;
  }

  .header__link_type_button {
    margin-left: 14px;
    width: 54px;
    height: 26px;
  }
}
